$primary-color: #073861;
$header-height: 80px;

body{
    margin: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f0f0;
    font-size: 14px;
    font-weight: 400;

    *{
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }
    h1, h2, h3, h4{
        margin: 0;
        text-transform: uppercase;
        color: $primary-color;
    }
    header{
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: $header-height;
        margin: 0;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0 5px 10px -5px rgba(0 , 0, 0, 0.3);

        h1{
            margin: 0 16px;
        }
    }
    main{
        height: calc(100vh - #{$header-height});
        flex-basis: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .card{
            background-color: #fff;
            box-shadow: 0 5px 15px -3px rgba(0 , 0, 0, 0.3);
            padding: 24px;
        }
        #filter-wrapper{
            height: calc(60% - 12px);
            flex-basis: calc(40% - 12px);

            #filter-wrapper-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 24px;

                h2{
                    flex-basis: 40%;
                }
                #apply-filter-btn{
                    cursor: pointer;
                    background-color: $primary-color;
                    text-transform: uppercase;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-weight: bold;
                    padding: 6px 24px;
                }
            }
            #filters{
                .radio-btns{
                    width: calc(100% - 32px);
                    margin-bottom: 32px;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    label{
                        flex-basis: 100%;
                        font-size: 0.8em;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.5);
                        margin-bottom: 6px;
                    }
                    input{
                        width: 24px;
                        vertical-align: sub;
                    }
                    .radio-label{
                        margin-bottom: 8px;
                        color: rgba(0, 0, 0, 0.8);
                        font-size: 1em;
                        text-transform: none;
                        margin-bottom: 0;
                        font-weight: 400;
                        cursor: pointer;
                    }
                }
                .select-wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 32px;
                    z-index: 2;

                    label{
                        flex-basis: 100%;
                        font-size: 0.8em;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);
                        margin-bottom: 6px;
                    }
                    >div{
                        flex-basis: 100%;
                    }
                }
            }
        }
        #viewport-graph{
            height: calc(60% - 12px);
            flex-basis: calc(60% - 12px);
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img{
                height: 95%;
                width: 95%;
                object-fit: contain;
            }
        }
        #the-map{
            flex-basis: calc(40% - 12px);
            height: calc(40% - 12px);
            z-index: 1;
        }
        #viewport-chart{
            height: calc(40% - 12px);
            flex-basis: calc(60% - 12px);
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img{
                height: 90%;
                width: 95%;
                object-fit: contain;
            }
        }
    }
    @media screen and (max-width: 1366px) {
        header{
            height: 64px;
        }
        main{
            flex-basis: 90%;
            height: calc(100vh - 64px);
        }
    }
    @media screen and (max-width: 1080px) {
        header{
            height: 56px;
        }
        main{
            flex-basis: 96%;
            height: calc(100vh - 56px);
        }
    }
    @media screen and (max-width: 720px) {
        header{
            padding: 4px 0 12px 0;
            height: auto;
        }
        main{
            flex-basis: 100%;
            height: auto;

            .card{
                margin: 6px 0;
            }
            #filter-wrapper{
                flex-basis: 100%;
                height: auto;
                order: 1;
            }
            #viewport-graph{
                flex-basis: 100%;
                height: auto;
                order: 3;
            }
            #the-map{
                flex-basis: 100%;
                height: 300px;
                order: 2;
            }
            #viewport-chart{
                flex-basis: 100%;
                height: auto;
                order: 4;
            }
        }
    }
}
